{%- extends 'glossary-of-terms/_layouts/cp.twig' -%}

{%- set tagOptions = {
    'depends': [
        'percipiolondon\\glossary\\assetbundles\\glossary\\GlossaryAsset'
    ]
} -%}

{%- set content -%}

    {{- craft.glossary.register('src/js/glossary.ts', false, tagOptions ,tagOptions) -}}

    {%- set mappedSections = [] -%}
    {% for section in craft.app.sections.allSections %}
        {%- if (sections ?? []) | filter(sec => sec == section.handle) | length > 0 -%}
            {%- set mappedSections = mappedSections|merge([{
                handle: section.handle,
                name: section.name
            }]) -%}
        {%- endif -%}
    {% endfor %}

    <div id="glossary">
        {{ csrfInput() }}
        <form-glossary :site-id="{{- currentSite.id -}}" :glossary-id="{{- glossary.id ?? 0 -}}" sections="{{- mappedSections|json_encode -}}" action="glossary-of-terms/glossary/save"></form-glossary>
    </div>

{%- endset -%}
